
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url(header.css);
@import url(profile.css);
@import url(variables.css);
@import url(skills.css);
@import url(projects.css);

body{
    background-color: var(--ligth-color);
    color: var(--dark-color);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}
main{
    width: 100%;
    min-height: 200vh;
}

.wave-separator{
    width: 100%;
    
}
.wave-separator--r-180deg{
    transform: rotate(180deg);
}
.wave-separator__wave-container{
    display: flex;
    margin: 0;
}
.wave-separator__wave{
    fill: var(--primary-color);
    width: 100%;
    margin: 0;
}