
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

@import url(header.css);
@import url(profile.css);

body{
    background-color: #fff;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
}
main{
    width: 100%;
    min-height: 200vh;
}