
@keyframes giro {
    100%{
        transform: rotate(360deg);
    }
}

.profile {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.profile-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1024px;
    padding: 2rem 0;
    gap: 2rem;
}
.profile-info{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    font-style: italic;
}
.profile-info__intro{
    margin: 0;
    font-weight: 700;
    font-size: 1.8rem;
}
.profile-info__name{
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Carter One', cursive;
    color: var(--primary-color);
    font-style: normal;
}
.profile-info__subtitle{
    display: none;
    font-size: 1.125rem;
    margin: 0;
    font-weight: 700;
}
.profile-info__description{
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}
.profile-figure__container{
    display: flex;
    justify-content: center;
}
.profile-figure__image{
    max-width: 400px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    transition: var(--all-transitions);
    box-sizing: border-box;
}
.profile-figure__image:hover{
    box-shadow: 0 0 0.25rem 0 var(--primary-color);
    animation: giro 1s ease infinite;
}

@media (max-width: 854px) {
    .profile-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .profile-info{
        padding: 1rem;
        align-items: center;
    }
    .profile-info__intro{
        text-align: center;
        font-size: 1.2rem;
    }
    .profile-info__name{
        text-align: center;
        font-size: 1.8rem;
    }
    .profile-info__subtitle{
        display: block;
        font-size: 1.2rem;
    }
    .profile-info__description{
        display: none;
    }
    .profile-figure__container{
        overflow: hidden;
    }
    .profile-figure__image{
        max-width: 256px;
    }
}